body {
    background-color: orange;
}

aside {
    background-color: darkcyan;
    color: whitesmoke;
    border: 5px;
    border-block-end-color: orange;
}

footer {
    background-color: black;
}

h1 {
    font-family: monospace;
    border: 3px;
    border-block-end-color: orange;
}

p {
    font-family: monospace;
}

a {
    color: cyan;
}

h5 {
    background-color: black;
    border: 3px;
    border-block-end-color: orange;
    color: whitesmoke
}