body {
    background-color: orange;
}

aside {
    background-color: darkcyan;
    color: whitesmoke;
    border: 5px solid dimgray
}
h5 {
    border: 3px solid dimgray;
    color: whitesmoke;
}

h1 {
    font-family: monospace;
    border: 3px solid dimgray;
}

p {
    font-family: monospace;
}

a {
    color: blue;
    
    border: 2px;
    border-left-color: dimgray;
}

footer {
    background-color: black;
    color: whitesmoke;
    border: 1px solid dimgray
}